
table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled{
    min-width: 55px;
    font-size: 10px;
}


.dataTables_wrapper .dataTables_filter {
    float: left;
    text-align: left;
 }

 #drone_filter{
 margin-left:10px;
 }

.dataTables_wrapper .dataTables_filter input{
    margin-left:0px;
}

#copyright {
    position: absolute;
    bottom: 0;
}